/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    }
  
  body {
  font-size: 20px;
  margin: 20px;
}
  
  article {
  
  }
  
  h1 {
  font-size: 25px;
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
      margin-bottom: 40px;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media screen and (min-width:485px){
    body{
        background-color: rgb(157, 245, 245);
        margin: 40px;
        max-width: 800px;
    }

    h1 {
        font-size: 40px;
        text-align: center;
    }

    h2 {
        text-align: center;

    }

    p {
        text-align: justify;
    }

    figure {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 400px;
    }

    section {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    
    
    
  }